.container{
    text-align: center;
    padding: 1em;
}

.container__searchBar{
    width: 70%
}

.container__cards{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% auto;
}