.card__complete{
    position: relative;
}

.card img{
    width: 200px;
    height: 150px;
}

.card .favorite-icon{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 5px;
}


.card .favorite-icon:hover{
    cursor: pointer;
}