.card{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.card img{
    max-width: 100%;
}

.card .favorite-icon{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 5px;
}
