.card__complete{
    position: relative;
}

.card img{
    width: 200px;
    height: 150px;
}

.card .favorite-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.red{
    color: red;
}

.gray{
    color: gray;
}

.card .favorite-icon:hover{
    cursor: pointer;
}