.dashboard{
    text-align: center;
    padding: 1em;
}

.dashboard__searchBar{
    width: 40%;
    background-color: white;
    border-radius: 5px;
}

.dashboard__cards{
    width: 70%;
    margin: 1em auto;
    border: 1px solid black;
}
.dashboard__select{
    width: 20%;
    margin-left: 10%;
    background-color: white;
}

option{
    cursor: pointer;
}

.favorite__content{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% auto;
}

.favorite__image{
    position: relative;
    width: 200px;
    text-align: left;
    border: 1px solid black;
    margin-bottom: 1em;
    overflow: hidden;
}

img{
    width: 200px;
    height: 150px;
}

span{
    color: #FF6F00;
}
.favorite__footer{
    background-color: #FFB300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img__icon{
    margin: auto .3em;
    cursor: pointer;
}

.favorite__info{
    margin: .5em .5em 3em;
}